/* reset & common */
*{margin:0;padding:0;border:0;box-sizing:border-box}
section,article,main,aside{display:block}
body,html{width:100%;height:100%;min-width:320px;}
img{ max-width: 100%;image-rendering: auto;}
ol,ul,li{list-style:none}
button,label,a,.btn{cursor: pointer;}
.btn{display:inline-block;vertical-align:middle}
.hidden{position:absolute;top:-9999em;left:-9999em;width:1px;height:1px;overflow:hidden;visibility:hidden;opacity:0}
/* event style */
.event_container{position:relative;width:100%;max-width:750px;background:#281a11;margin:0 auto}
.event_container .bg{position:fixed;top:0;left:50%;max-width:750px;width:100%;height:100%;background:url(../images/bg.jpg) no-repeat 0 0/100%;transform:translate(-50%,0);z-index:0}
.event_container .event_header,
.event_container .event_body{position:relative;z-index:1}
.event_container .event_header{display:flex;width:100%;height:0;padding-top:9.3%;background:rgba(0,0,0,.5);border-bottom:1px solid #654835;justify-content:center;align-items: center;z-index:10}
.event_container .event_header >*{position:absolute;}
.event_container .event_header .logo {top:50%;left:3.33%;width:14.66%;transform: translate(0,-50%);}
.event_container .event_header .logo a{display:block;width:100%;padding-top:20%;height:0;overflow:hidden;;background:url(../images/top_logo.png) no-repeat  0 0/contain}
.event_container .event_header .title {top:50%;left:50%;transform: translate(-50%,-50%);width:23.4%;padding-top:2.93%;height:0;overflow:hidden;background:url(../images/top_title.png) no-repeat  0 0/contain}
.event_container .event_header .concept {top:0;right:0;width:29.86%;padding-top:20.66%;height:0;overflow:hidden;background:url(../images/top_concept.png) no-repeat  0 0/contain}

.event_container .event_body::after{display:block;margin:6% 0 0;width:100%;padding-top:24.53%;height:0;background:url(../images/bg_gold.png) no-repeat 0 0/100%;content:''}
.event_container .event_body .txt-title{position:relative;margin-top:-5.6%;display:flex;margin-left:7.6%;width:84.8%;padding-top:13%;flex-flow:row wrap;align-items: center;justify-content: center;}
.event_container .event_body .txt-title .fire{position:absolute;top:0;left:9.2%;width:25.1%}
.event_container .event_body .txt-title .fire > span{display:block;position:relative;width:100%;padding-top:99.37%;height:0;overflow:hidden}
.event_container .event_body .txt-title .fire > span span{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-size:contain;background-repeat:no-repeat;background-position:0 0}
.event_container .event_body .txt-title .fire > span span:nth-child(1){background-image:url(../images/fire1.png)}
.event_container .event_body .txt-title .fire > span span:nth-child(2){background-image:url(../images/fire2.png)}
.event_container .event_body .txt-title .fire > span span:nth-child(3){background-image:url(../images/fire3.png)}
.event_container .event_body .txt-title p{position:relative;height:0;overflow:hidden}
.event_container .event_body .txt-title .dropthe{margin-left:-7%;width:57.2%;padding-top:22.4%;background:url(../images/txt-drop.png) no-repeat 0 0 /contain;z-index:5}
.event_container .event_body .txt-title .money{margin:-21% 0 0 -3%;width:84.8%;padding-top:44%;background:url(../images/txt-money.png) no-repeat 0 0 /contain;z-index:0}
.event_container .event_body .txt-title .light{position:absolute;top:0;left:0;display:block;width:100%;height:100%}
.event_container .event_body .txt-title .dropthe .light{opacity:.6;background:url(../images/txt-effect-drop.png) no-repeat 0 0 /contain;opacity:5}
.event_container .event_body .txt-title .money .light{background:url(../images/txt-effect-money.png) no-repeat 0 0 /contain;opacity:5}
.event_container .event_body .txt-title .money .light span{position:absolute;top:0;left:0;display:block;width:100%;height:100%}
.event_container .event_body .txt-title .money .light span:nth-child(1){opacity:.3;background:url(../images/txt-effect-money.png) no-repeat 0 0 /contain}
.event_container .event_body .txt-title .money .light span:nth-child(2){opacity:.6;background:url(../images/txt-effect-money2.png) no-repeat 0 0 /contain}
.event_container .event_body .txt-title .txt-box {margin:-16% 0 0 -3%;width:61.46%;padding-top:18.87%;height:0;overflow:hidden;background:url(../images/txt-info.png) no-repeat 0 0 /contain}
.event_container .event_body .money-box{position:relative;display:flex;width:100%;align-items:flex-start;justify-content: center;margin-top:-3%;padding-top:34.5%}
.event_container .event_body .money-box img{position:relative;z-index:2}
.event_container .event_body .money-box .left-hand,
.event_container .event_body .money-box .right-hand{width:13.2%;z-index:10}
.event_container .event_body .money-box .left-hand{margin-top:4%}
.event_container .event_body .money-box img.money { position:absolute;top:0;left:50%;width:81.2%;z-index:0;}
.event_container .event_body .money-box .text {width: 31.4%;}
.event_container .event_body .txt-info {margin:6.4% auto 0;width:74%;padding-top:42.88%;height:0;overflow:hidden;background:url(../images/txt-info2.png) no-repeat 0 0 /contain}
.event_container .event_body .snsBox{position:relative;margin:-2% auto 0}
.event_container .event_body .snsBox h4{opacity:.5;position:absolute;top:0;left:0;width:100%;height:0;padding-top:25.33%;overflow:hidden;background:url(../images/sns_off.png) no-repeat top center /92.52% auto}
.event_container .event_body .sns{display:flex;flex-flow:row wrap;width:100%;padding:8.93% 14% 4.53%;overflow:hidden;background:url(../images/sns_btn.png) no-repeat top center /92.52% auto}
.event_container .event_body .sns li{position:relative;width:25%;height:0;padding-top:16.48%}
.event_container .event_body .sns li .btn{position:absolute;top:0;left:0;width:100%;height:0;padding-top:65.9%;overflow:hidden;background:transparent}
.event_container .event_body .btn-apply{position:fixed;bottom:0;left:50% ;width:97.86%;transform:translate(-48.8%,0);max-width:750px;padding-top:19.6%;height:0;overflow:hidden;background:url(../images/btn-apply.png) no-repeat 0 0 /contain;z-index:10}
.event_container .event_body .coinBox{position:absolute;top:23vmin;left:0;width:100%;height:70vmin;}
.event_container .event_body .coinBox > div{position:relative;width:100%;height:100%}
.event_container .event_body .coinBox .coin{display:block;position:absolute;height:0;overflow:hidden;background-size:contain;background-repeat:no-repeat;background-position:0 0;transform: translate3d(0,0,0);transition:all .3s ease-in-out;}
.event_container .event_body .coinBox .coin-left1{top:0;left:0;width:12.8%;padding-top:33.73%;background-image:url(../images/coin_left_1.png)}
.event_container .event_body .coinBox .coin-left2{top:40.67%;left:16.93%;width:10.4%;padding-top:14.1%;background-image:url(../images/coin_left_2.png)}
.event_container .event_body .coinBox .coin-left3{bottom:16.77%;left:0;width:5.86%;padding-top:14.93%;background-image:url(../images/coin_left_3.png)}
.event_container .event_body .coinBox .coin-right1{top:18.47%;right:2.266%;width:16%;padding-top:21.3%;background-image:url(../images/coin_right_1.png);z-index:5}
.event_container .event_body .coinBox .coin-right2{top:34.3%;right:9.73%;width:8.66%;padding-top:13.86%;background-image:url(../images/coin_right_2.png);z-index:1}
.event_container .event_body .coinBox .coin-right3{right:0;bottom:0;width:15.2%;padding-top:24.93%;background-image:url(../images/coin_right_3.png)}
.event_container .event_body .coinBox.once {top:0;left:0;width:100%;height:100%;}
.event_container .event_body .coinBox.once .coin01{width:10%;padding-top:10.4%;background-image:url(../images/coin_init.png);}
.event_container .event_body .coinBox.once .coin02{width:17.3%;padding-top:16.13%;background-image:url(../images/coin_init2.png)}
.event_container .event_body .coinBox.once .coin-right1{top:50%;left:50%;transform: scale(2)}
.event_container .event_body .coinBox.once .coin-right2{top:60%;left:50%;transform: scale(2)}
.event_container .event_body .coinBox.once .coin.big{bottom:0;left:50%;transform: scale(8)}
.event_container .event_body .coinBox.once .coin.big2{top:0;left:50%;transform: scale(6);}
/* event popup */
.open {overflow:hidden}
.open .popup{display:block;overflow-y:auto}
.popup{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:20;background:black}
.popup .popup-inner{position:relative;width:100%;height:100%;max-width:750px;margin:0 auto}
.popup .popup-inner .btn{position:absolute;height:0;overflow:hidden;background:transparent}
.popup .popup-inner .btn-pop-close{top:8%;right:5.86%;width:7.6%;padding-top:7.86%;background:url(../images/btn-close.png) no-repeat 0 0/contain}
.popup .popup-inner .upperSide,
.popup .popup-inner .underSide {position:relative;width:100%;height:50vh;transition:all 1s ease-in}
.popup .popup-inner .upperSide{background:url(../images/bg_upperSide.png) no-repeat 0 bottom /100% }
.popup .popup-inner .underSide{background:url(../images/bg_underSide.png) no-repeat 0 top /100%}
.popup .popup-inner .btn-coupon{top:7.98vmin;right:13.33%;width:15%;padding-top:6.4%}
.popup .popup-inner .btn-update{top:37.76vmin;right:18.4%;width:20.66%;padding-top:6.13%}
.popup .popup-inner .text{width:100%;padding-top:54.13%;height:0;overflow:hidden}
.popup .popup-inner .btn.btn-send{position:sticky;bottom:0;left:2.2%;width:97.86%;padding-top:19.6%;height:0;overflow:hidden;background:url(../images/btn-send.png) no-repeat 0 0 /contain;z-index:10}
/* animation */
.event_container .event_body .money-box img.money{animation:moveTo .6s infinite ease-in-out}
.event_container .event_body .money-box .text{animation:scaleTo .6s infinite ease-in-out}
.event_container .event_body .money-box .left-hand { transform: rotate(0);transform-origin:left bottom;animation: leftSide .6s infinite  ease-in-out}
.event_container .event_body .money-box .right-hand {transform: rotate(0);transform-origin:right bottom;animation: rightSide .6s infinite  ease-in-out;}

.init .coinBox.second{animation: coinBox2 .5s ease-out .1s;animation-fill-mode: both}
.init .coinBox.once{animation: coinBox .3s ease-out ;animation-fill-mode: both}
.init .coinBox.second .coin-left3 {animation: coins .5s  ease-out .5s ;animation-fill-mode: backwards}
.init .coinBox.second .coin-right3 {animation: coins .5s  ease-out .5s ;animation-fill-mode: backwards}

.init .txt-title .fire > span span:nth-child(1){opacity:0;transform-origin:right bottom;animation: showFire .2s ease-out .6s;animation-fill-mode: both}
.init .txt-title .fire > span span:nth-child(2){opacity:0;transform-origin:right bottom;animation: showFire .2s ease-out .7s;animation-fill-mode: both}
.init .txt-title .fire > span span:nth-child(3){opacity:0;transform-origin:right bottom;animation: showFire .5s ease-out .7s, showFire2 .3s ease-out .5s;animation-fill-mode: both}

.init .txt-title .dropthe .light{animation: lightcontrol .8s ease-in-out 2.3s;animation-fill-mode: both}
.init .txt-title .money .light span:nth-child(1){animation: lightcontrol2 1s ease-in-out 3.3s;animation-fill-mode: both}
.init .txt-title .money .light span:nth-child(2){animation: lightcontrol .5s ease-in-out 1.3s;animation-fill-mode: both}

.event_container .event_body .snsBox.on h4{animation: turnon 1s ease-in-out;animation-fill-mode: both}

.popup .popup-inner .upperSide{transform:translate(0,-100%)}
.popup.play .popup-inner .upperSide{transform:translate(0,0);animation: bounce .5s ease-in-out 1s;}

.popup .popup-inner .underSide{transform:translate(0,100%)}
.popup.play .popup-inner .underSide{transform:translate(0,0);animation: bounce2 .5s ease-in-out 1s;}

/* keyframes */
@keyframes bounce{
    0%{transform:translate(0,0)}
    20%{transform:translate(0,-10px)}
    60%{transform:translate(0,0)}
    80%{transform:translate(0,-5px)}
    100%{transform:translate(0,0)}
}
@keyframes bounce2{
    0%{transform:translate(0,0)}
    20%{transform:translate(0,10px)}
    60%{transform:translate(0,0)}
    80%{transform:translate(0,5px)}
    100%{transform:translate(0,0)}
}
@keyframes turnon{
    0%{opacity:.5;background-image:url(../images/sns_off.png)}
    25%{opacity:1;background-image:url(../images/sns_on.png)}
    75%{opacity:.5;background-image:url(../images/sns_off.png)}
    100%{opacity:1;background-image:url(../images/sns_on.png)}
}
@keyframes coinBox{
    0%{width:100%;opacity:1;height:100%;transform: translate(0,-100%)}
    99%{width:100%;opacity:1;height:100%;transform:translate(0,130%)}
    100%{width:0;opacity:0;height:0;z-index:-1;}
}
@keyframes coins{
    0%{transform:translate(0,-20px)}
    100%{transform:translate(0,0)}
}
@keyframes coinBox2{
    0%{transform: translate(0,-100%)}
    100%{transform:translate(0,0)}
}
@keyframes lightcontrol{
    0%{opacity:.6;}
    25%{opacity:1;}
    75%{opacity:.6;}
    100%{opacity:1;}
}
@keyframes lightcontrol2{
    0%{opacity:.3;}
    25%{opacity:.8;}
    75%{opacity:.3;}
    100%{opacity:.8;}
}
@keyframes showFire{
    0%{opacity:0;transform:scale(.8);}
    100%{opacity:1;transform:scale(1)}
}
@keyframes showFire2{
    0%{transform:translate(0,20px)}
    100%{transform:translate(0,0)}
}
@keyframes moveTo{
    0%{transform:translate(-50%,0)}
    80%{transform:translate(-50%,5px)}
    100%{transform:translate(-50%,0)}
}
@keyframes scaleTo{
    0%{transform:scale(1)}
    20%{transform:scale(1.1)}
    100%{transform:scale(1)}
}
@keyframes leftSide{
    0%{transform:rotate(0)}
    20%{transform:rotate(-20deg)}
    100%{transform:rotate(0)}
}
@keyframes rightSide{
    0%{transform:rotate(0)}
    20%{transform:rotate(20deg)}
    100%{transform:rotate(0)}
}